<%= form_with(model: tutor_client_relationship) do |form| %>
  <% if tutor_client_relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tutor_client_relationship.errors.count, "error") %> prohibited this tutor_client_relationship from being saved:</h2>

      <ul>
        <% tutor_client_relationship.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :relID %>
    <%= form.number_field :relID %>
  </div>

  <div class="field">
    <%= form.label :tutorID %>
    <%= form.number_field :tutorID %>
  </div>

  <div class="field">
    <%= form.label :clientID %>
    <%= form.number_field :clientID %>
  </div>

  <div class="field">
    <%= form.label :subjectID %>
    <%= form.number_field :subjectID %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
