<p id="notice"><%= notice %></p>

<h1>Tutor Client Relationships</h1>

<table>
  <thead>
    <tr>
      <th>Relid</th>
      <th>Tutorid</th>
      <th>Clientid</th>
      <th>subjectid</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutor_client_relationships.each do |tutor_client_relationship| %>
      <tr>
        <td><%= tutor_client_relationship.relID %></td>
        <td><%= tutor_client_relationship.tutorID %></td>
        <td><%= tutor_client_relationship.clientID %></td>
        <td><%= tutor_client_relationship.subjectID %></td>
        <td><%= link_to 'Show', tutor_client_relationship %></td>
        <td><%= link_to 'Edit', edit_tutor_client_relationship_path(tutor_client_relationship) %></td>
        <td><%= link_to 'Destroy', tutor_client_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutor Client Relationship', new_tutor_client_relationship_path %>
