<h1> Your Hub Area </h1>

<p1> Current Tutor: </p1>
<%= User.where(id: @tutor_client_relationship.tutorID).first.forename %>
<br>
<p1> Current Client: </p1>
<%= User.where(id: @tutor_client_relationship.clientID).first.forename %>
<br>
<br>
<br>

<h4> Your File Sharing: </h4>
<ul>
    <% @tutor_client_relationship.files.each do |file| %>
        <li>
            <%= file.filename%>
            <%= link_to 'View file', file %>
            <%= link_to 'Download file', file, download: '' %>
        </li>
    <% end %>
</ul>

<%= link_to 'Add new file', edit_tutor_client_relationship_path %>

<br>
<h4> Sessions </h4>

<% if @client.check_room(String(@tutor_client_relationship.relID)).code == '200' %>
    <%= link_to 'Join Session', room_path(:id => @tutor_client_relationship.relID), target: '_blank' %>
    
    <% if current_user.role == 'tutor' %>
        <br>
        <%= link_to 'Delete Session', delete_room_path(:id => @tutor_client_relationship.relID) %>
    <%end%>
<% else %>
    <% if current_user.role == 'tutor' %>
        <%= link_to 'Start Session', room_path(:id => @tutor_client_relationship.relID, target: '_blank')%>
    <% else%>
        <p>No active sessions!</p>
    <% end %>

<% end %>
