<p id="notice"><%= notice %></p>

<p>
  <strong>Relid:</strong>
  <%= @tutor_client_relationship.relID %>
</p>

<p>
  <strong>Tutorid:</strong>
  <%= @tutor_client_relationship.tutorID %>
</p>

<p>
  <strong>Clientid:</strong>
  <%= @tutor_client_relationship.clientID %>
</p>

<%= link_to 'Edit', edit_tutor_client_relationship_path(@tutor_client_relationship) %> |
<%= link_to 'Back', tutor_client_relationships_path %>
