<h1> Your Hub Area </h1>

<p1> Current Tutor: </p1>
<%= User.where(id: @tutor_client_relationship.tutorID).first.forename %>
<br>
<p1> Current Client: </p1>
<%= User.where(id: @tutor_client_relationship.clientID).first.forename %>
<br>
<br>
<br>

<h4> Your File Sharing: </h4>
<ul>
    <% @tutor_client_relationship.files.each do |file| %>
        <li>
            <%= file.filename%>
            <%= link_to 'View file', file %>
            <%= link_to 'Download file', file, download: '' %>
        </li>
    <% end %>
</ul>

<%= link_to 'Add new file', edit_tutor_client_relationship_path %>

<h4> Room </h4>
<% %>