<%= form_for(@adult) do |f| %>
  <% if @adult.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@adult.errors.count, "error") %> prohibited
        this adult from being saved:
      </h2>

      <ul>
      <% @adult.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :address do |ff| %>
    <div class="field">
      <%= ff.label :email %><br />
      <%= ff.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= ff.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= ff.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= ff.label :password_confirmation %><br />
      <%= ff.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>