<%= form_with(model: family) do |form| %>
  <% if family.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(family.errors.count, "error") %> prohibited this family from being saved:</h2>

      <ul>
        <% family.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :parentID %>
    <%= form.number_field :parentID %>
  </div>

  <div class="field">
    <%= form.label :childID %>
    <%= form.number_field :childID %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
