<h1><% @user.full_name %></h1>

<% if current_user.id == @user.id %>
  <p><strong><u>Public Profile</u></strong></p>
<% end %>

<p><strong><%= @user.full_name %></strong></p>
<p><strong>Role:</strong> <%= @user.role %></p>
<p><strong>Bio:</strong> <%= @user.bio %></p>



<!--Code gets a 2d array of subject names and their ids and displays a button for each one.
The button then passes the current user id, tutor id and subject id to a method in the user controller
which creates a relationship of the tutor and client along with the chosen subject.
Finally a access entry is created which holds the relationship id and a nil value for the room link
-->
<% if @user.role == 'tutor' && current_user.id != @user.id %>
	<p> To get in contact with a tutor, please book one of the subjects they offer below. </p>
	<p> Please note that you can only book one tutor for each subject <p>
	<p><strong>Subjects:</strong><p>
	<%
    subjects = subj
    subjects.each { |subject|%>
    <%unless subject[0].nil? %>
      <%=button_to subject[0], tutor_booking_path(tutorID: @user.id, clientID: current_user.id, subjectID: subject[1]), method: :post%>
    <%end }%>
  <%session[:tutorID] = @user.id %>
  <%= button_to "Review Tutor", new_review_path(tutorID: @user.id), method: :get%>
  <% reviews = get_reviews %>
  <p>Average Rating: <%= average_reviews %></p>
  <p> Reviews </p>
  <% reviews.each { |review| %>
    <div class="card">
      <p><%=review[0] %></p>
      <p><%="Rating: " + review[1].to_s %></p>
      <p><%=review[2] %></p>
    </div>
  <% }
  %>
  <% end %>


<% if current_user.id == @user.id %>
	<p><strong><u>Private Info</u></strong></p>
	<p><strong>Phone:</strong> <%= @user.phone %></p>
	<p><strong>D.O.B:</strong> <%= @user.dob %></p>
	<%= link_to 'Edit My Profile', edit_user_path(current_user) %>
	<% if current_user.role == 'adult' || current_user.role == 'tutor' %>
		<%= link_to 'Create Child Account', users_legal_path %>
	<% end %>
	<% if current_user.role == 'adult' %>
		<%= link_to 'Become Tutor', become_tutor_path %>
	<% end %>
  <% if current_user.role == 'tutor' %>
    <%= form_with url: add_subject_path, method: :post do |form| %>
      <%= form.label :subject_name, "New Subject:" %>
      <%= form.text_field :subject_name%>
      <%= form.submit "Add"%>
    <% end %>
  <% end %>
<% end %>
