<div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <!-- get_user_logged_in is a method that has been defined in the application controller. It returns the user that is currently signed in and it shows up on each page -->
    <%= get_user_logged_in %>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"> <%= image_tag('woo.jpeg', :size => "115x50") %> </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <%= link_to "Home", root_path, class: "nav-link nav-hover" %>
            </li>

            <li class="nav-item">
                <%= link_to "About Us", pages_about_us_path, class: "nav-link nav-hover" %>
            </li>

            <li class="nav-item">
                <%= link_to "Contact Us", pages_contact_path, class: "nav-link nav-hover" %>
            </li>

            <li class="nav-item">
                <%= link_to "All Users", users_path, class: "nav-link nav-hover" %>
            </li>

            <li class="nav-item">
                <%= link_to "All Tutors", pages_tutor_list_path, class: "nav-link nav-hover" %>
            </li>

            <% if user_signed_in? %>

              <% if current_user.role == 'tutor' %>
                <li class="nav-item">
                  <%= link_to "Teaching Center", pages_hub_path, class: "nav-link nav-hover" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "Learning Center", pages_hub_path, class: "nav-link nav-hover" %>
                </li>
              <% end %>

                <li class="nav-item">
                    <%= link_to "Profile", user_path(current_user), class: "nav-link nav-hover" %>
                </li>

                <li class="nav-item">
                    <%= link_to "Logout", destroy_user_session_path, class: "nav-link nav-hover" %>
                </li>
            <% else %>
                <li class="nav-item">
                    <%= link_to "Login", new_user_session_path, class: "nav-link nav-hover" %>
                </li>

                <li class="nav-item">
                    <%= link_to "Sign Up", new_user_registration_path, class: "nav-link nav-hover" %>
                </li>
            <% end %>
    </ul>
  </div>
</nav>
