<p>Room list of rooms</p>
<table>
  <tr>
    <th>Room number</th>
    <th>link to room</th>
  </tr>
  <tr>
    <td>1</td>
    <td><%= link_to 'Room 1', pages_room1_path %> </td>
  </tr>
  <tr>
    <td>2</td>
    <td><%= link_to 'Room 2', pages_room2_path %> </td>
  </tr>
  <tr>
    <td>3</td>
    <td><%= link_to 'Room 3', pages_room3_path %> </td>
  </tr>
  <tr>
    <td>4</td>
    <td><%= link_to 'Room 4', pages_room4_path %> </td>
  </tr>
  <tr>
    <td>5</td>
    <td><%= link_to 'Room 5', pages_room5_path %> </td>
  </tr>
</table>
