<!--  This is the page that shows all of the subjects and tutors the currently logged in user is signed up to
      It is also the point of contact between students and tutors.
      If a tutor is signed in this page shows him the students that have signed up to him/her -->


<% if current_user.role == 'child' %>
<!-- The following is how the hub looks when there is a student signed in. In that case it is called a Learning Center-->
  <h1><%= current_user.forename%>'s Personal Learning Center</h1>
  <% check = TutorClientRelationship.all %>
  <% if check.first == nil %>
    <p> You haven't signed up to any tutors yet!</p>
  <%else%>
  <table>
    <tr>
      <th>Subject</th>
      <th>Tutor</th>
    </tr>
    <% TutorClientRelationship.all.each do |tutorclient| %>
    <tr>
      <% if current_user.id == tutorclient.clientID %>
        <td><%= Subject.where(subjectID: tutorclient.subjectID).first.name %> </td>
        <td><%= User.where(id: tutorclient.tutorID).first.forename%> <%= User.where(id: tutorclient.tutorID).first.surname%></td>
      <% end %>
      <% end %>
    <% end %>
    </tr>
  </table>
  <% end %>


<% if current_user.role == 'tutor' %>
<!-- The following is how the hub looks when there is a tutor signed in. In that case it is called a Teaching Center-->
  <h1><%= current_user.forename%>'s Personal Teaching Center</h1>
  <% check = TutorClientRelationship.all %>
  <% if check.first == nil %>
    <p> You don't have any students yet!</p>
  <%else%>
  <table>
    <tr>
      <th>Subject</th>
      <th>Student</th>
    </tr>
    <% TutorClientRelationship.all.each do |tutorclient| %>
    <tr>
      <% if current_user.id == tutorclient.tutorID %>
        <td><%= Subject.where(subjectID: tutorclient.subjectID).first.name %> </td>
        <td><%= User.where(id: tutorclient.clientID).first.forename%> <%= User.where(id: tutorclient.clientID).first.surname%></td>
      <% end %>
      <% end %>
    <% end %>
    </tr>
  </table>
<% end %>

<% if current_user.role == 'adult'%>
  <% if Family.where(parentID: current_user.id).first != nil %>
    <!-- The following is how the hub looks when there is a parent signed in. In that case it is called a Parental Control Page-->
    <h1><%= current_user.forename%>'s Parental Control Page</h1>
    <% check = TutorClientRelationship.all %>
      <% if check.first == nil %>
        <p> Your child has no tutors at the moment!</p>
      <%else%>
        <table>
          <tr>
            <th>Child's Subject</th>
            <th>Child's Tutor</th>
          </tr>
          <% TutorClientRelationship.all.each do |tutorclient| %>
            <% Family.where(parentID: current_user.id).all.each do |family| %>
              <tr>
                <% if family.childID == tutorclient.clientID %>
                  <td><%= Subject.where(subjectID: tutorclient.subjectID).first.name %> </td>
                  <td><%= User.where(id: tutorclient.tutorID).first.forename%> <%= User.where(id: tutorclient.tutorID).first.surname%></td>
                <% end %>
            <% end %>
          <% end %>
        </tr>
      <%end%>
    <% else %>
    <!-- The following is how the hub looks when there is an adult non-parent signed in. In that case it is a standard Learning Center-->
      <h1><%= current_user.forename%>'s Personal Learning Center</h1>
        <% check = TutorClientRelationship.all %>
        <% if check.first == nil %>
          <p> You haven't signed up to any tutors yet!</p>
        <%else%>
          <table>
            <tr>
              <th>Subject</th>
              <th>Tutor</th>
            </tr>
            <% TutorClientRelationship.all.each do |tutorclient| %>
              <tr>
                <% if current_user.id == tutorclient.clientID %>
                  <td><%= Subject.where(subjectID: tutorclient.subjectID).first.name %> </td>
                  <td><%= User.where(id: tutorclient.tutorID).first.forename%> <%= User.where(id: tutorclient.tutorID).first.surname%></td>
                <% end %>
            <% end %>
        <% end %>
        </tr>
        </table>
        <% end %>
<% end %>
