<h1>List of all Tutors</h1>

<%= form_with url: "", method: :get do |form| %>
  <%= form.label :query, "Filter:" %>
  <%= form.collection_select :query, Subject.all, :subjectID, :name, prompt: "Show All" %>
  <%= form.submit "Search"%>
<% end %>

<%
  @users = nil
  if params[:query].blank?
    @users = User.where(role: 'tutor')
  else
    tutor_ids = TutorSubject.where(subjectID: params[:query]).select(:tutorID)
    @users = User.where(role: 'tutor')
    @users = @users.where(id: tutor_ids)
  end
%>

<% @users.each do |tutor| %>
  <div class="card">
    <p><%= tutor.forename %> <%= tutor.surname %></p>
    <%TutorSubject.where(tutorID: tutor.id).each do |subject|%>
        <div class="card">
          <p><%= Subject.where(subjectID: subject.subjectID)[0].name %></p>
        </div>
    <%end%>

    <%= button_to "See Tutor Profile", user_path(tutor.id), method: :get %>
  </div>
<% end %>
