<p id="notice"><%= notice %></p>

<h1>Accesses</h1>

<table>
  <thead>
    <tr>
      <th>Relid</th>
      <th>Videolink</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accesses.each do |access| %>
      <tr>
        <td><%= access.relID %></td>
        <td><%= access.videolink %></td>
        <td><%= link_to 'Show', access %></td>
        <td><%= link_to 'Edit', edit_access_path(access) %></td>
        <td><%= link_to 'Destroy', access, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Access', new_access_path %>
