<p>
  <%= "Dear #{t('app_title')}," %>
</p>
<p>
  <%= "Could you get in touch with me please?" %>
</p>
<dl>
  <dt>Name:</dt>
  <dd>
    <%= @name %>
  </dd>
  <dt>Email:</dt>
  <dd>
    <%= @email %>
  </dd>
  <dt>Telephone:</dt>
  <dd>
    <%= @telephone %>
  </dd>
  <p>
    <%= @message %>
  </p>
  <p>Thanks,</p>
  <p>
    <%= @name %>
  </p>
</dl>
