<p id="notice"><%= notice %></p>

<p>
  <strong>Tutorid:</strong>
  <%= @review.tutorID %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @review.userID %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Content:</strong>
  <%= @review.content %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
